<mat-card class="watchlist-card">
  <mat-card-header>
    <mat-card-title>Stock Name:</mat-card-title>
    <mat-card-subtitle>Stock Symbol:</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>Price: </mat-list-item>
      <mat-divider [inset]='true'></mat-divider>
      <mat-list-item>Change: </mat-list-item>
      <mat-divider [inset]='true'></mat-divider>
      <mat-list-item>Volume: </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary" class="button">View Charts</button>
  </mat-card-actions>
</mat-card>