.watchlist-card{
    display: flex;
    flex-direction: column;
    min-width: 275px;
    max-height: 350px;
    margin: 5%;
}

.button{
    position: relative;
    margin-left:7%;
}

.top-info{
    position: relative;
    padding: 35px;
    width: 90%;
    top: 10px;
    left: 10px;
}