<mat-card class='card-info'>
    <mat-card-header class='top-info'>
      <mat-card-title style="text-transform:uppercase">{{symbol[1]}}</mat-card-title>

      <mat-card-title class='top-text'>Symbol: {{information["01. symbol"]}}</mat-card-title>
      <mat-card-subtitle>Change:{{information["10. change percent"]}}</mat-card-subtitle>
      
      
    </mat-card-header>

    <!-- have to create an add to watchlist function to firebase service -->
    <button mat-stroked-button color='primary' class="button">Add To Watchlist</button>
    <button mat-stroked-button color='primary' class="button" (click)="loadChart()">View Chart</button>

    <mat-card-content>

    <div class='left-info'>
      <mat-list class='list-info'>
        
        <mat-list-item>
            <mat-icon mat-list-icon>arrow_right</mat-icon>
          <h1 mat-line>Price:   ${{information["05. price"]}}</h1>
        </mat-list-item>
        
        <mat-divider class="divider"></mat-divider>
        
        <mat-list-item>
            <mat-icon mat-list-icon>arrow_right</mat-icon>
            <h1 mat-line>Open:  ${{information["02. open"]}}</h1>
        </mat-list-item>
        <mat-divider class="divider"></mat-divider>
        <mat-list-item>
          <mat-icon mat-list-icon>arrow_right</mat-icon>
          <h1 mat-line>High:  ${{information["03. high"]}}</h1>
        </mat-list-item>

        <mat-divider class="divider"></mat-divider>

        <mat-list-item>
            <mat-icon mat-list-icon>arrow_right</mat-icon>
            <h1 mat-line>Low:   ${{information["04. low"]}}</h1>
        </mat-list-item>
      </mat-list>
    </div>

    <div class='right-info'>

      <mat-list class='list-info'>
        <mat-list-item>
            <mat-icon mat-list-icon>arrow_right</mat-icon>
            <h1 mat-line>Latest Trading Day: {{information["07. latest trading day"]}}</h1>
        </mat-list-item>

        <mat-divider class="divider"></mat-divider>

        <mat-list-item>
            <mat-icon mat-list-icon>arrow_right</mat-icon>
            <h1 mat-line>Volume: {{information["06. volume"]}}</h1>
        </mat-list-item>

        <mat-divider class="divider"></mat-divider>

        <mat-list-item>
            <mat-icon mat-list-icon>arrow_right</mat-icon>
            <h1 mat-line>Previous close: {{information["08. previous close"]}}</h1>
        </mat-list-item>

        <mat-divider class="divider"></mat-divider>

        <mat-list-item>
            <mat-icon mat-list-icon>arrow_right</mat-icon>
            <h1 mat-line>Change: {{information["09. change"]}}</h1>
        </mat-list-item>
      </mat-list>

    </div>
  
  </mat-card-content>
</mat-card>