
.card-info{
    position: relative;
    margin: 5%;
    height: 500px;
}

.button{
    margin: 30px;
    
}

.spacer {
    flex: 1 1 auto;
  }

.top-info{
    position: relative;
    padding: 35px;
    width: 90%;
    height: 75px;
    top: 10px;
    left: 10px;
}

.top-text{
    border: 25px;
}

.left-info{
    position: absolute;
    left: 10px;
    width: 50%;
}

.right-info{
    position: absolute;
    right: 10px;
    width: 50%;
}

.card-header{
    flex-shrink: 0;
}

.card{
    margin: 5%;
}

.card-content{
    flex-grow: 1;
    overflow: auto;
}


.divider{
    width: 85%;
}
