
    <mat-card class = "area">
        <mat-card-header>
            <mat-card-title>Stock Symbol</mat-card-title>
        </mat-card-header>

        <!-- <mat-card-content class="content"> -->
            
        <div class="top-content">
            <app-rsi-chart></app-rsi-chart>
        </div>
        <div class="mid-content">
            <app-candle-stick-chart class="mid-content"></app-candle-stick-chart>
        </div>
        <div class="top-content">
            <app-macd-chart class="top-content"></app-macd-chart>
        </div>
            
        <!-- </mat-card-content> -->


    </mat-card>

